.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3A1578;
  
}

.input-container{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  
}

.input-field{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex: ;
}

.date-picker{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-buuton{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.menu-item {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  border: solid #333;
  border-radius: 5px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}
